.sidebar {
  float:left;
  width:220px;
  margin:0;
  border-right: 1px solid #EAEAEA;
  padding-right: 14px
}

.main-body{
  float:right;
  width: 100%;
  max-width: 1000px;
}

.navbar {
  margin-bottom: 20px;
}

.jumbotron ul{
  float: right;
  align-items: c
}
